body *{
	font-size: 15px;
}
.registerform{
	display: grid;
	width: 80%;
	margin: auto;
	border: 1px solid #A2CBBC;
	padding: 0px;
	grid-template-columns: auto;
	vertical-align: middle;
}
.registerform * input[type=text], select{
	width: 200px;
	height: 20px;
	margin: 10px;
	padding-right: 10px;	
}
.registerform * select{
	width: 200px;
}
.registerform * textarea{
	width: 200px;
	height: 100px;
	margin: 10px;

}
label{
	font-weight: bold;	
}

span{
	text-decoration: underline;
}
.registerform > div{
	vertical-align: middle;
	padding: 1em;
}

.workshopreg{
	background-color: #A2CBBC;
	font-style: bold;
}


#footer{
		background-color: rgb(227,227,227);
		border-color: 1px solid white;
		justify-content: center;
		display: flex;
}
#footer > input {
	margin-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background: rgb(128, 168, 151);
	border: 0px;
	color: white;
	font-size: 15px;
	font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: transparent;
  padding: 10px;
}

.grid-container > div {
  text-align: left;
  padding: 20px 0;
  font-size: 30px;
}